@import "~normalize.css";

@import "_variables";
@import "modules/hello.scss";

body {
  background: $wtf;
  color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Helvetica, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.attribution {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  margin: 5px auto;
  text-align: center;
  font-size: 12px;
}

.button {
  display: inline-block;
  border: none;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  padding: 5px 10px;
  transition: 0.3s linear;
  border-radius: 8px;
  font-size: 18px;
  &:hover {
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.7);
  }
}

.drug__name-first,
.drug__name-second {
  display: block;
  margin-bottom: 32px;
}

.header {
  position: fixed;
  top: 0;
  left: 30%;
  width: 40%;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  &::after {
    content: "";
    height: 2px;
    background: white;
    width: 120%;
    position: absolute;
    bottom: -24px;
    left: -10%;
  }
}

.icon-container {
  height: 100%;
  padding: 0 8px;
  margin-top: 16px;
  background: white;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  font-weight: bold;
  &:hover .icon {
    padding-right: 24px;
    padding-left: 0;
  }
}

.icon {
  width: 32px;
  height: 32px;
  padding-right: 16px;
  padding-left: 8px;
  transition: padding 0.3s linear;
}

.interactions {
  padding: 0 16px;
  max-width: 1440px;
  margin: 0 auto;
}

.input,
.result {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.result {
  text-align: left;
  min-height: 25vh;
}
