@import "~normalize.css";

@import "_variables";
@import "modules/hello.scss";

body {
  background: $wtf;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: Helvetica, sans-serif;
}

.interactions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input, .result {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.result {
  text-align: left;
}

.drug__name-first, .drug__name-second {
  display: block;
  margin-bottom: 16px;
}
